.payment {
  position: fixed;
  background-color: #393939;
  bottom: 30rem;
  height: 80rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  width: 700rem;
  border-radius: 40rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 50rem;
  z-index: 3;
}

.price {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 36rem;
}

.price::before {
  content: '合计￥';
  font-size: 30rem;
}

.payButton {
  height: 100%;
  width: 200rem;
  border: none;
  background-color: #F7BB14;
  border-radius: 40rem;
  font-size: 36rem;
}